body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}


.container {
    position: relative;
    width: 700px;
    height: 700px;
}

.imagen-debajo {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.debajo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 40%;
    margin-left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: rgb(253, 2, 2);
}

#canvas {
    position: absolute;
    border-radius: 5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}
